var myDate = getDate();
module.exports = {
    isTipFormat: function (isTip) {
        if(isTip==0){
            return ''
        }else if(isTip ==1){
            return '已提醒'
        }
        
    },
    isInvalidFormat:function (updateTime) {
        //var date = new Date(updateTime.create.time());
        myDate.setTime(updateTime.time);
        myDate.setHours(updateTime.hours);
        myDate.setMinutes(updateTime.minutes);
        myDate.setSeconds(updateTime.seconds);
        var nowStamp = getDate().getTime();
        var regStamp = myDate.getTime();
        var gap = 7*24*60*60*1000; //毫秒
        if((nowStamp - regStamp) > gap){
            return "已过期"
        }

    },
    sourceFrom:function (source) {
        if(source=='lianjia'){
            return '链家'
        }else if(source == '5i5j'){
            return '我爱我家'
        }else if(source == 'hshb'){
            return '豪世华邦'
        }
    },

    
}